body {
    font-family: Arial, sans-serif;
    background-color: rgb(107, 183, 183);
    margin: 0;
    padding: 0;
}

h1 {
    color: #16474e;
}

h2 {
    color: #16474e;
}

p {
    color: #0d215c;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th:nth-child(1), td:nth-child(1) { /* Position */
    color: #064317;
}

th:nth-child(2), td:nth-child(2) { /* Company */
    color: #236d0d;
}

th:nth-child(3), td:nth-child(3) { /* Date Applied */
    color: #0f7974;
}

/* Hover effect for the rows */
tr:hover {
    background-color: #f5f5f5;
}

/* CSS for Job Application Detail fields */
.job-detail {
    border: 1px solid #082d15;
    padding: 10px;
    margin: 10px 0;
}

.job-detail p {
    border-bottom: 1px solid #082d15;
    padding-bottom: 5px;
    margin-bottom: 5px;
}

.job-detail p strong {
    display: inline-block;
    width: 200px;
}

/* Add border around each field */
.job-detail p strong::after {
    content: ":";
    margin-right: 5px;
    border-bottom: 1px solid #ddd;
    display: inline-block;
}

/* Remove border from the last field */
.job-detail p:last-child strong::after {
    border: none;
}



#job-application-list {
    margin: 20px;
}

.application-link {
    text-decoration: none;
    color: #3de08c;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

#job-application-detail {
    margin: 20px;
}

#new-job-application-form {
    margin: 20px;
}

#new-job-application-form form {
    display: flex;
    flex-direction: column;
}

#new-job-application-form label {
    margin-bottom: 5px;
}

#new-job-application-form input,
#new-job-application-form select {
    margin-bottom: 10px;
}

#new-job-application-form button {
    background-color: #136684;
    color: #fff;
    padding: 10px;
    cursor: pointer;
}

a {
    color: #074619;
    text-decoration: underline;
}

/* CSS for visited links */
a:visited {
    color: #4e0c6f;
}

/* CSS for links on hover */
a:hover {
    color: #0a3f5b;
}

/* CSS for active links (clicked) */
a:active {
    color: #00ffb7;
}
